<div class="container">
  <app-card
    gameCover="../../../assets/bt-5.jpg"
    gameBundle="Exclusivo"
    gameConsoles="PS5 | PC | Xbox SX"
    gamePrice="24.99"
  ></app-card>

  <app-card
    gameCover="../../../assets/bt-1.jpg"
    gameBundle="Novo"
    gameConsoles="PS4 | Xbox One"
    gamePrice="35.97"
  ></app-card>

  <app-card
    gameCover="../../../assets/bt-4.jpg"
    gameBundle="GOAT"
    gameConsoles="PS3 | Xbox 360"
    gamePrice="14.00"
  ></app-card>

  <app-card
    gameCover="../../../assets/bt-hardline.jpg"
    gameBundle="Lançamento"
    gameConsoles="PS3 | Xbox 360"
    gamePrice="27.00"
  ></app-card>

  <app-card
    gameCover="../../../assets/ac-cover.jpg"
    gameBundle="Exclusive"
    gameConsoles="PS3 | Xbox 360"
    gamePrice="50.32"
  ></app-card>

  <app-card
    gameCover="../../../assets/bt-bad-company-2.jpg"
    gameBundle="Lançamento"
    gameConsoles="PS3 | Xbox 360"
    gamePrice="41.99"
  ></app-card>
</div>
